body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-left: 0;
	border-radius: 4px;
  margin-top:20px;
}

tbody>tr:nth-child(odd)>td {
	background-color: lightGrey;
}

tr {
	border-collapse: separate;
}

th,td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #dddddd;
}

td {
	border-top: 1px solid #dddddd;
}

tbody:last-child tr:last-child>td:first-child {
	border-bottom-left-radius: 4px;
}

tbody:last-child tr:last-child>td:last-child {
	border-bottom-right-radius: 4px;
}



footer {
	position: fixed;
	bottom: 0px;
	background-color: lightGrey;
	height: 60px;
	left: 0px;
	text-align: center;
	width: 100%;
	line-height: 60px;
	font-weight: bold;
}
